.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #4e85d3;
  border-radius: 2.5rem;
  padding: 6rem 18rem;
  gap: 2.38rem;
  margin: 5rem 0;
}
.content > :nth-child(1) {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.btn {
  background: #ffba48;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  .content {
    padding: 3.56rem 1.56rem;
    margin-top: 4.31rem;
  }
}
