.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  background: #4e85d3;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  background: #21203c;
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75rem;
  margin: 0 7.55rem;
}

@media only screen and (max-width: 1200px) {
  .description {
    padding: 0 1.5rem;
    margin: 0;
  }
}
