.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}

.main > :nth-child(1) {
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  gap: 0.25rem;
}
.main > :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5rem;
}
.firstText {
  color: #202020;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  margin-bottom: 0.5rem;
}
.btnHolder {
  display: flex;
  gap: 1rem;
}
.gogBtn {
  padding: 0.87rem 6.06rem;
  border-radius: 0.75rem;
  background: #4285f4;
  border: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #dcdbdd;
  outline: none;
}
.main > :nth-child(3) {
  display: flex;
  align-self: center;
  max-width: 24rem;
}
.orText > :first-child {
  margin: 0 0.75rem;
}
.orText {
  display: flex;
  color: #84818a;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}
.orText:before,
.orText:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.0625rem solid #dcdbdd;
  margin: auto;
}
.thirdText {
  color: #47464a;
  font-size: 0.875rem;
  font-weight: 400;
}
.secondText {
  color: #84818a;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem; /* 141.667% */
}
.highlight {
  color: #38c5d3;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
}
.btn {
  padding: 0.88rem 3.62rem;
  border-radius: 0.75rem;
  background: #38c5d3;
  border: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.main > :nth-child(2) > :last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
